@tailwind base;
@tailwind components;
@tailwind utilities;

/* استایل‌های سفارشی */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

@layer base {
  :root {
    --bg-color: #ffffff;
  --text-color: #000000;
  }
  [data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #ffffff;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --border: 0 0% 14.9%; 
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
#react-aria-\:R8ul7H2\: {
  display: flex;
}
.flex.items-center.text-default-400.w-full.gap-x-2.h-6.group-data-\[invalid\=true\]\:text-danger {
  display: flex;
}